.langs {
  position: relative;
  &_dropdown {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $box-shadow-sm;
    @include transition(0.5s $ease-out-quart);
    visibility: hidden;
    opacity: 0;
    li {
      border-top: $border-width solid $primary;
      &:last-child {
        border-bottom: $border-width solid $primary;
      }
    }
    a {
      padding: $nav-link-padding-y $nav-link-padding-x;
      background-color: $white;
      @include hover-focus() {
        color: $white;
        background-color: $primary;
      }
    }
  }
  @include hover() {
    .langs_dropdown {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}
